@media (max-width: 850px) {
    header h1 {
        font-size: 3em;
        font-weight: 600;
        text-align: center;
        user-select: text;
        cursor: text;
        line-height: 1.2;
    }

    header .logo {
        width: 5em;
        height: 5em;
        transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
}